In [1]:
import pandas as pd

In [2]:
ch14 = pd.read_csv("champions2014.csv", sep=";")

**Eliminamos las columnas que no vamos a necesitar**

In [3]:
ch14.head(5)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Attendance,Top Team Scorer,Goalkeeper,Notes
0,W,Real Madrid,13,10,2,1,41,10,31,32,"78,426",Cristiano Ronaldo 17,Iker Casillas,? Champions League via playoff win
1,F,Atletico Madrid,13,7,5,1,26,10,16,26,"43,994",Diego Costa 8,Thibaut Courtois,NaN
2,SF,Bayern Munich,12,6,4,2,24,13,11,22,"67,883",Thomas Muller 5,Manuel Neuer,NaN
3,SF,Chelsea,12,4,5,3,19,10,9,17,"39,531",Fernando Torres 4,Petr ?ech,NaN
4,QF,Paris S-G,10,6,2,2,25,9,16,20,"44,68",Zlatan Ibrahimovic 10,Salvatore Sirigu,NaN

In [4]:
#el máximo goleador, el nombre del portero y las notas no son datos que a priori vamos a necesitar
ch14.drop(['Top Team Scorer', 'Goalkeeper', 'Notes'], axis=1, inplace=True)

In [21]:
ch14.head(5)

   Rk            Squad  MP   W  D  L  GF  GA  GD  Pts Attendance  team_id
0   W      Real Madrid  13  10  2  1  41  10  31   32     78,426       90
1   F  Atletico Madrid  13   7  5  1  26  10  16   26     43,994       32
2  SF    Bayern Munich  12   6  4  2  24  13  11   22     67,883       37
3  SF          Chelsea  12   4  5  3  19  10   9   17     39,531        3
4  QF        Paris S-G  10   6  2  2  25   9  16   20      44,68       13

**Realizamos el mismo cambio para todos los datasets**

In [6]:
ch15 = pd.read_csv("champions2015.csv", sep=";")
ch16 = pd.read_csv("champions2016.csv", sep=";")
ch17 = pd.read_csv("champions2017.csv", sep=";")
ch18 = pd.read_csv("champions2018.csv", sep=";")
ch19 = pd.read_csv("champions2019.csv", sep=";")
ch20 = pd.read_csv("champions2020.csv", sep=";")
ch21 = pd.read_csv("champions2021.csv", sep=";")
ch22 = pd.read_csv("champions2022.csv", sep=";")
ch23 = pd.read_csv("champions2023.csv", sep=";")
ch24 = pd.read_csv("champions2024.csv", sep=";")

**Hay dos datasets (2022 y 2021) están en español así que debemos cambiar sus columnas a inglés**

In [7]:
ch22 = ch22.rename(columns={
    'RL': 'Rk',
    'Equipo': 'Squad',
    'PJ': 'MP',
    'PG': 'W',
    'PE': 'D',
    'PP': 'L',
    'GF': 'GF',
    'GC': 'GA',
    'DG': 'GD',
    'Pts': 'Pts',
    'xG': 'xG',
    'xGA': 'xGA',
    'xGD': 'xGD',
    'xGD/90': 'xGD/90',
    'Asistencia': 'Attendance',
    'M�ximo Goleador del Equipo': 'Top Team Scorer',
    'Portero': 'Goalkeeper',
    'Notas': 'Notes'
})

ch21 = ch21.rename(columns={
    'RL': 'Rk',
    'Equipo': 'Squad',
    'PJ': 'MP',
    'PG': 'W',
    'PE': 'D',
    'PP': 'L',
    'GF': 'GF',
    'GC': 'GA',
    'DG': 'GD',
    'Pts': 'Pts',
    'xG': 'xG',
    'xGA': 'xGA',
    'xGD': 'xGD',
    'xGD/90': 'xGD/90',
    'Asistencia': 'Attendance',
    'M�ximo Goleador del Equipo': 'Top Team Scorer',
    'Portero': 'Goalkeeper',
    'Notas': 'Notes'
})

ch21['Rk'] = ch21['Rk'].replace({'W': 1, 'S': 2})
ch22['Rk'] = ch22['Rk'].replace({'W': 1, 'S': 2})

In [8]:
print(ch22)

     Rk             Squad  MP   W  D  L  GF  GA  GD  Pts    xG   xGA   xGD  \
0     1       Real Madrid  13   9  0  4  29  14  15   27  21.6  20.1   1.5
1     2         Liverpool  13  10  1  2  30  14  16   31  27.3  13.1  14.2
2    SF   Manchester City  12   7  2  3  29  16  13   23  26.6  11.5  15.1
3    SF        Villarreal  12   5  3  4  20  16   4   18  19.4  18.6   0.9
4    QF     Bayern Munich  10   7  2  1  31   7  24   23  26.3   7.7  18.6
5    QF           Chelsea  10   7  1  2  21  10  11   22  19.0  11.0   8.0
6    QF           Benfica  10   3  4  3  14  17  -3   13  11.8  21.4  -9.7
7    QF   Atletico Madrid  10   3  3  4   9  10  -1   12  12.2  13.2  -1.1
8   R16              Ajax   8   6  1  1  22   8  14   19  19.0  10.0   8.9
9   R16          Juventus   8   5  1  2  11  10   1   16  13.3  10.6   2.7
10  R16         Paris S-G   8   4  2  2  15  11   4   14  14.5  13.9   0.6
11  R16             Inter   8   4  1  3   9   7   2   13  12.8   7.8   5.0
12  R16    Manchester Utd   8   3  3  2  12  10   2   12   9.4  10.6  -1.2
13  R16             Lille   8   3  2  3   8   8   0   11  10.5   7.5   2.9
14  R16       RB Salzburg   8   3  2  3  10  14  -4   11  12.3  12.7  -0.5
15  R16       Sporting CP   8   3  1  4  14  17  -3   10  12.2  12.7  -0.5
16   GR          Dortmund   6   3  0  3  10  11  -1    9  11.5   7.6   3.8
17   GR        RB Leipzig   6   2  1  3  15  14   1    7  13.4  11.0   2.4
18   GR  Sheriff Tiraspol   6   2  1  3   7  11  -4    7   4.4  12.2  -7.9
19   GR         Barcelona   6   2  1  3   2   9  -7    7   6.5   9.5  -3.0
20   GR           Sevilla   6   1  3  2   5   5   0    6   7.2   7.8  -0.6
21   GR          Atalanta   6   1  3  2  12  13  -1    6  10.2   9.1   1.1
22   GR             Zenit   6   1  2  3  10  10   0    5   9.8   8.0   1.9
23   GR        Young Boys   6   1  2  3   7  12  -5    5   7.4  10.3  -3.0
24   GR         Wolfsburg   6   1  2  3   5  10  -5    5   4.8  11.1  -6.2
25   GR             Porto   6   1  2  3   4  11  -7    5   8.0   8.8  -0.8
26   GR             Milan   6   1  1  4   6   9  -3    4   5.8  10.2  -4.5
27   GR       Club Brugge   6   1  1  4   6  20 -14    4   6.1  19.5 -13.4
28   GR          Shakhtar   6   0  2  4   2  12 -10    2   6.8  10.1  -3.3
29   GR       Dynamo Kyiv   6   0  1  5   1  11 -10    1   4.3   9.2  -4.9
30   GR             Malmo   6   0  1  5   1  14 -13    1   1.6  15.1 -13.5
31   GR          Besiktas   6   0  0  6   3  19 -16    0   6.2  19.7 -13.5

    xGD/90 Attendance                       Top Team Scorer  \
0     0.11     48,111                    Karim Benzema�-�15
1     1.09     64,118                     Mohamed Salah�-�8
2     1.26     49,295                      Riyad Mahrez�-�7
3     0.07      18,61                    Arnaut Danjuma�-�6
4     1.86         34               Robert Lewandowski�-�13
5     0.80     39,076                       Timo Werner�-�4
6    -0.97     47,128                      Darwin N��ez�-�6
7    -0.11     58,158                 Antoine Griezmann�-�4
8     1.12     40,181                 S�bastien Haller�-�11
9     0.34     21,968                      Paulo Dybala�-�3
10    0.08     44,911                      Kylian Mbapp�-�6
11    0.62     41,133                        Edin D�eko�-�3
12   -0.15     72,893                 Cristiano Ronaldo�-�6
13    0.37     37,824      Jonathan David,�Burak Y?lmaz�-�3
14   -0.06     20,812        Karim Adeyemi,�Noah Okafor�-�3
15   -0.07     37,672                   Pedro Gon�alves�-�4
16    0.64     31,607      Marco Reus,�Donyell Malen... -�3
17    0.40     21,098                Christopher Nkunku�-�7
18   -1.32      5,689     Adama Traor�,�S�bastien Thill�-�2
19   -0.51     45,092           Gerard Piqu�,�Ansu Fati�-�1
20   -0.09     25,468                      Ivan Rakiti?�-�2
21    0.18     11,556                      Duv�n Zapata�-�3
22    0.31     21,135          Claudinho,�Sardar Azmoun�-�2
23   -0.50     29,879                      Jordan Pefok�-�2
24   -1.04     11,463      Lukas Nmecha,�Renato Steffen�-�2
25   -0.13     31,493                         Luis D�az�-�2
26   -0.74     43,762    Rafael Le�o,�Junior Messias... -�1
27   -2.23     25,511                      Hans Vanaken�-�3
28   -0.55     22,349                          Fernando�-�2
29   -0.82     27,256                     Denys Harmash�-�1
30   -2.25     13,634                       S�ren Rieks�-�1
31   -2.26     19,031  Francisco Montero,�Cyle Larin... -�1

                              Goalkeeper  Notes
0                       Thibaut Courtois    NaN
1                                Alisson    NaN
2                                Ederson    NaN
3                         Ger�nimo Rulli    NaN
4                           Manuel Neuer    NaN
5                          Edouard Mendy    NaN
6                   Odisseas Vlachodimos    NaN
7                              Jan Oblak    NaN
8                          Remko Pasveer    NaN
9                      Wojciech Szcz?sny    NaN
10                  Gianluigi Donnarumma    NaN
11                      Samir Handanovi?    NaN
12                          David de Gea    NaN
13                             Ivo Grbi?    NaN
14                          Philipp K�hn    NaN
15                          Antonio Ad�n    NaN
16                          Gregor Kobel    NaN
17                         P�ter Gul�csi    NaN
18                  Giorgos Athanasiadis    NaN
19                 Marc-Andr� ter Stegen    NaN
20                        Yassine Bounou    NaN
21                            Juan Musso    NaN
22                    Stanislav Kritsyuk    NaN
23  Guillaume Faivre,�David von Ballmoos    NaN
24                         Koen Casteels    NaN
25                           Diogo Costa    NaN
26      Mike Maignan,�Ciprian T?t?ru?anu    NaN
27                        Simon Mignolet    NaN
28                       Anatolii Trubin    NaN
29                      Heorhiy Bushchan    NaN
30                          Johan Dahlin    NaN
31                      Ersin Destano?lu    NaN

In [9]:
data_list = [ch15,ch16,ch17,ch18,ch19,ch20,ch21,ch22,ch23,ch24]
for i in data_list:
  i.drop(['Top Team Scorer', 'Goalkeeper', 'Notes'], axis=1, inplace=True)

In [10]:
data_list.append(ch14)

In [11]:
#comprobamos si hay algún equipo con dos nombres distintos
teams = []
for dataset in data_list:
  column_values_list = dataset['Squad'].tolist()
  teams += column_values_list

teams = list(set(teams))

In [12]:
teams.sort()
teams
#Beşiktaş -> Besiktas, 'Malmö'-> Malmo, Viktoria Plze? -> "Viktoria Plzen"

['AEK Athens',
 'APOEL FC',
 'Ajax',
 'Anderlecht',
 'Antwerp',
 'Arsenal',
 'Atalanta',
 'Athletic Club',
 'Atletico Madrid',
 'Austria Wien',
 'BATE Borisov',
 'Barcelona',
 'Basaksehir',
 'Basel',
 'Bayern Munich',
 'Benfica',
 'Besiktas',
 'Beşiktaş',
 'Braga',
 'CSKA Moscow',
 'Celtic',
 'Chelsea',
 'Club Brugge',
 'Dinamo Zagreb',
 'Dortmund',
 'Dynamo Kyiv',
 'Eint Frankfurt',
 'FC Astana',
 'FC Copenhagen',
 'Ferencvaros',
 'Feyenoord',
 'Galatasaray',
 'Genk',
 'Gent',
 'Hoffenheim',
 'Inter',
 'Juventus',
 'Krasnodar',
 'Lazio',
 'Legia Warsaw',
 'Leicester City',
 'Lens',
 'Leverkusen',
 'Lille',
 'Liverpool',
 'Loko Moscow',
 'Ludogorets',
 'Lyon',
 "M'Gladbach",
 'Maccabi Haifa',
 'Maccabi Tel Aviv',
 'Malmo',
 'Malmö',
 'Manchester City',
 'Manchester Utd',
 'Marseille',
 'Midtjylland',
 'Milan',
 'Monaco',
 'NK Maribor',
 'Napoli',
 'Newcastle Utd',
 'Olympiacos',
 'PSV Eindhoven',
 'Paris S-G',
 'Porto',
 'Qarabağ FK',
 'RB Leipzig',
 'RB Salzburg',
 'Rangers',
 'Real Madrid',
 'Real Sociedad',
 'Red Star',
 'Rennes',
 'Roma',
 'Rostov',
 'Schalke 04',
 'Sevilla',
 'Shakhtar',
 'Sheriff Tiraspol',
 'Slavia Prague',
 'Spartak Moscow',
 'Sporting CP',
 'Steaua',
 'Tottenham',
 'Union Berlin',
 'Valencia',
 'Viktoria Plze?',
 'Villarreal',
 'Wolfsburg',
 'Young Boys',
 'Zenit']

**Comprobamos que hay algunos equipos que están repetidos y otros que no tienen buenos nombres, por lo que procedemos a hacer los siguientes cambios #Beşiktaş -> Besiktas, Malmö-> Malmo, Viktoria Plze? -> Viktoria Plzen**

In [13]:
name_changes = {
    'Beşiktaş': 'Besiktas',
    'Malmö': 'Malmo',
    'Viktoria Plze?': 'Viktoria Plzen'
}

for dataset in data_list:
  dataset['Squad'] = dataset['Squad'].replace(name_changes)

Ahora vamos a añadir un id a cada uno de los equipos por su nombre

In [17]:
#actualizar la lista equipos sin duplicados

#comprobamos si hay algún equipo con dos nombres distintos
teams = []
for dataset in data_list:
  column_values_list = dataset['Squad'].tolist()
  teams += column_values_list

teams = list(set(teams))

# Crear un diccionario para mapear cada equipo a un ID único


equipos_id = {nombre: idx + 1 for idx, nombre in enumerate(teams)}

equipos_id

{'Roma': 1,
 'Slavia Prague': 2,
 'Chelsea': 3,
 'Milan': 4,
 'Besiktas': 5,
 "M'Gladbach": 6,
 'FC Copenhagen': 7,
 'APOEL FC': 8,
 'Hoffenheim': 9,
 'Union Berlin': 10,
 'Juventus': 11,
 'Ferencvaros': 12,
 'Paris S-G': 13,
 'Antwerp': 14,
 'Midtjylland': 15,
 'Napoli': 16,
 'Genk': 17,
 'Lille': 18,
 'BATE Borisov': 19,
 'Barcelona': 20,
 'RB Leipzig': 21,
 'PSV Eindhoven': 22,
 'Dinamo Zagreb': 23,
 'Lens': 24,
 'Sevilla': 25,
 'Newcastle Utd': 26,
 'Celtic': 27,
 'Spartak Moscow': 28,
 'Benfica': 29,
 'Porto': 30,
 'Krasnodar': 31,
 'Atletico Madrid': 32,
 'Ajax': 33,
 'Maccabi Haifa': 34,
 'Rostov': 35,
 'Leicester City': 36,
 'Bayern Munich': 37,
 'Dynamo Kyiv': 38,
 'FC Astana': 39,
 'Basel': 40,
 'Gent': 41,
 'Club Brugge': 42,
 'Inter': 43,
 'Ludogorets': 44,
 'Villarreal': 45,
 'Schalke 04': 46,
 'Feyenoord': 47,
 'Braga': 48,
 'Basaksehir': 49,
 'Liverpool': 50,
 'Athletic Club': 51,
 'Maccabi Tel Aviv': 52,
 'Tottenham': 53,
 'Rennes': 54,
 'Lazio': 55,
 'Dortmund': 56,
 'Manchester City': 57,
 'AEK Athens': 58,
 'Sheriff Tiraspol': 59,
 'Valencia': 60,
 'Loko Moscow': 61,
 'Olympiacos': 62,
 'Manchester Utd': 63,
 'CSKA Moscow': 64,
 'Red Star': 65,
 'Austria Wien': 66,
 'Steaua': 67,
 'Qarabağ FK': 68,
 'Shakhtar': 69,
 'Malmo': 70,
 'Sporting CP': 71,
 'Lyon': 72,
 'NK Maribor': 73,
 'Leverkusen': 74,
 'Atalanta': 75,
 'Legia Warsaw': 76,
 'Zenit': 77,
 'Rangers': 78,
 'Arsenal': 79,
 'Monaco': 80,
 'Real Sociedad': 81,
 'Galatasaray': 82,
 'Marseille': 83,
 'Viktoria Plzen': 84,
 'RB Salzburg': 85,
 'Eint Frankfurt': 86,
 'Young Boys': 87,
 'Wolfsburg': 88,
 'Anderlecht': 89,
 'Real Madrid': 90}

In [19]:
for df in data_list:
  df['team_id'] = df['Squad'].map(equipos_id)

Ahora trabajaremos con el ranking_UEFA, que posteriormente añadiremos a cada uno de los datasets

In [22]:
ranking = pd.read_csv("ranking_UEFA.csv")

In [23]:
ranking.head(5)

,Rank,Team,Country,14/15,15/16,16/17,17/18,18/19,19/20,20/21,21/22,22/23,23/24,Title points,Total points,Country part
0,1.0,Real Madrid,Esp,29.0,33.0,33.0,32.0,19.0,17.0,26.0,30.0,29.0,23.0,94.0,365.0,37.986
1,2.0,Bayern MÃ¼nchen,Ger,28.0,29.0,22.0,29.0,20.0,36.0,27.0,26.0,27.0,20.0,43.0,307.0,30.624
2,3.0,FC Barcelona,Esp,34.0,26.0,23.0,25.0,30.0,24.0,20.0,15.0,9.0,17.0,41.0,264.0,37.986
3,4.0,Manchester City,Eng,15.0,26.0,18.0,22.0,25.0,25.0,35.0,27.0,33.0,23.0,13.0,262.0,37.253
4,5.0,Liverpool,Eng,10.0,22.0,NaN,30.0,29.0,18.0,24.0,33.0,19.0,13.0,36.0,234.0,37.253

In [28]:
#tenemos un problema, no todos los equipos del dataset de ranking uefa estan en el resto de datasets, por los que debemos droppearlos

#además, los nombres de los equipos entre ambos datasets no son del todo coincidentes

columna_UEFA = set(list(ranking['Team']))
teams = set(teams)

equipos_coincidentes = teams & columna_UEFA

equipos_coincidentes

{'AEK Athens',
 'Ajax',
 'Anderlecht',
 'Arsenal',
 'Atalanta',
 'Austria Wien',
 'BATE Borisov',
 'Benfica',
 'Besiktas',
 'CSKA Moscow',
 'Celtic',
 'Chelsea',
 'Club Brugge',
 'Dinamo Zagreb',
 'Dynamo Kyiv',
 'Feyenoord',
 'Galatasaray',
 'Juventus',
 'Lazio',
 'Legia Warsaw',
 'Leicester City',
 'Liverpool',
 'Maccabi Haifa',
 'Manchester City',
 'NK Maribor',
 'Napoli',
 'PSV Eindhoven',
 'RB Leipzig',
 'Real Madrid',
 'Real Sociedad',
 'Schalke 04',
 'Sevilla',
 'Sheriff Tiraspol',
 'Spartak Moscow',
 'Union Berlin',
 'Valencia',
 'Viktoria Plzen',
 'Villarreal',
 'Young Boys'}

In [29]:
#coinciden unicamente 39 equipos de 90
len(equipos_coincidentes)

39

In [30]:
# Nombres en la lista que no están en el dataset, los buscaremos para cambiarlos
nombres_faltantes_en_dataset = teams - columna_UEFA
nombres_faltantes_en_dataset

{'APOEL FC',
 'Antwerp',
 'Athletic Club',
 'Atletico Madrid',
 'Barcelona',
 'Basaksehir',
 'Basel',
 'Bayern Munich',
 'Braga',
 'Dortmund',
 'Eint Frankfurt',
 'FC Astana',
 'FC Copenhagen',
 'Ferencvaros',
 'Genk',
 'Gent',
 'Hoffenheim',
 'Inter',
 'Krasnodar',
 'Lens',
 'Leverkusen',
 'Lille',
 'Loko Moscow',
 'Ludogorets',
 'Lyon',
 "M'Gladbach",
 'Maccabi Tel Aviv',
 'Malmo',
 'Manchester Utd',
 'Marseille',
 'Midtjylland',
 'Milan',
 'Monaco',
 'Newcastle Utd',
 'Olympiacos',
 'Paris S-G',
 'Porto',
 'Qarabağ FK',
 'RB Salzburg',
 'Rangers',
 'Red Star',
 'Rennes',
 'Roma',
 'Rostov',
 'Shakhtar',
 'Slavia Prague',
 'Sporting CP',
 'Steaua',
 'Tottenham',
 'Wolfsburg',
 'Zenit'}

In [ ]:
APOEL Nicosia -> APOEL FC
None - Antwerp
Athletic Bilbao -> Athletic Club
AtlÃ©tico Madrid -> Atletico Madrid
FC Barcelona -> Barcelona
None -> Basaksehir
Bayern MÃ¼nchen -> Bayern Munich
None -> Braga
Borussia Dortmund -> Dortmund
Eintracht Frankfurt -> Eint Frankfurt
None -> FC Astana
None -> FC Copenhagen
FerencvÃ¡ros -> Ferencvaros
None -> Genk